* {
    margin: auto;
    max-width: 1320px;
}

.banner-section {
    background-image: linear-gradient(#070211, #07021100), url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 8px;
}

.new-year {
    padding-top: 177px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 30px;
}

.new-year-party {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    height: 190px;
    margin: 0px 344px 220px 344px;
}

/* section-one */

.section-one {
    border: 1px solid black;
    /* margin-left: 400px;
    margin-right: 400px; */
    align-items: center;
    margin-bottom: 120px;
}

.off-section {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 45px;
}

.holiday-section {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.all-section {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 45px;
}

.section-one-image {
    height: 500px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* section-two */

.section-two {
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    display: flex;
    border-radius: 8px;
}

.section-two-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-left: 40px;
    margin-bottom: 25px;
}

.section-two-pera {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 40px;
    margin-bottom: 45px;
}

.section-two-pera2 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 70px;
    background: transparent;
    border: 0px;
}

/* section-three */
.section-three {
    margin-top: 120px;
    margin-bottom: 120px;
    border: 1px solid black;
    width: 1320px;
    height: 480px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.hotel {
    text-align: center;
}

.place {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.place-pera {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.section-three-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: 0;
    margin-left: 600px;
    margin-top: 45px;
}

/* section-four */
.section-four {
    border: 1px solid black;
    height: 450px;
    margin-bottom: 120px;
    display: flex;
}

.section-four-text,
.section-four-image,
.section-four-year {
    width: 400px;
    height: 400px;
    margin: 20px;
    /* background-color: #f0f0f0;
    border: 1px solid #ccc; */
}

.best-offer {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 75px;
    padding-bottom: 10px;
}

.coming-soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 22px;
}

.offer-info {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    /* 160% */
}

.section-four-image {
    border-radius: 463px;
    border: 11px solid #F00;

}

#party-image-id {
    height: 350px;
    width: 350px;
}

.year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-top: 70px;
    padding-bottom: 20px;
}

.year-info {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-bottom: 40px;

}

/* section-five */
.section-five {
    border: 1px solid black;
    height: 1120px;
    margin-bottom: 120px;
}

.best-gift {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 10px;
}

.porfolio {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900px;
    margin-bottom: 18px;
}

.portfolio-info {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400px;
    line-height: 32px;
    /* 160% */
    margin-bottom: 45px;
}

.shopping {
    border-radius: 16px;
    width: 420px;
    height: 435px;
    margin-bottom: 20px;
}

.magic-image{
    border-radius: 16px;
}
.magic-image:hover img{
    cursor: pointer;
    border: 2px solid firebrick;
    border-radius: 16px;
}